html, body {
    margin: 0;
    height: 100%;
    padding: 0;
    display:block;
  }
  
  
  body {
    margin: 0;
    display: flex;
  
    /* This centers our sketch horizontally. */
    justify-content: center;
  
    /* This centers our sketch vertically. */
    align-items: center;
  }
  .bg {
    display:block;
  } 
  .bg:focus
  {
   outline:0;
  }
  canvas{
    display: block;
    
  }
  